#headerImg {
	background-image: url('../../assets/images/headerIMG.jpg'); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	height: 500px !important; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	text-align: left;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.divBody {
		padding: 50px 0px 0px 0px;
	}

	#headerH3 {
		font-size: 2.5rem !important;
		margin-bottom: 10px;
	}
	#headerH6 {
		font-size: 1.5rem !important;
		margin-top: 0px;
		margin-bottom: 100px;
	}
	#greenGuy {
		margin-top: 0px;
	}
	#emailButton {
		display: none;
	}
	#textButton {
		display: block;
	}

	#gridMargin {
		margin-top: 100px;
	}
}

@media only screen and (min-width: 864px) {
	#greenGuyIMG {
		left: 50% !important;
		bottom: -12px !important;
	}
}

@media only screen and (min-width: 769px) {
	#emailButton {
		display: block;
	}
	#textButton {
		display: none;
	}
}

a {
	text-decoration: none;
}
