.divBody {
	font-family: 'Bebas Neue', cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	min-height: 100vh !important;
	width: 100%;
	padding: 0px;
}

#headerImg {
	background-image: url('../assets/images/headerIMG.jpg'); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	height: 500px !important; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}
