.divBody {
	font-family: 'Bebas Neue', cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	min-height: 100vh !important;
	padding: 150px 10px 10px 10px;
	text-align: center;
}
